body{
    margin: 0;
    box-sizing: border-box;
}
.dorama-wrapper{
    width: 100%;
    background: url("img/fon.jpg ");
}
.dorama-heading{
    font-size: 22px;
}
h1:first-letter{
    color: darkred;
    font-weight: 800;
}
ul.marker1 > li {
    display: inline;
    border: 0;
    padding: 5px;

}
.marker1{
    list-style: none;
}
.link1{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
.picture{
    display: flex;
    flex-wrap: wrap;
}
/*.picture{*/
/*    display: table-caption;*/
/*}*/

.dorama-foto1{
    width: 150px;
    height: 200px;

}
.dorama-foto{
    width: 50px;
    background: none;
}
.instagram img{
    width: 30px;
}
.telegram img{
    width: 28px;
}
@media screen and (max-width: 720px){
    body{
        height: 1560px;
    }
    .picture{
        display: table-caption;
        width: 50%;
    }
}