.dorama-wrapper{
    width: 1400px;
    background-color: darkgrey;
}
.dorama-heading{
    font-size: 22px;
}
h1:first-letter{
    color: darkred;
    font-weight: 800;
}
ul.marker1 > li {
    display: inline;
    border: 0;
    padding: 5px;

}
.marker1{
    list-style: none;
}
.link1{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
/*.picture{*/
/*    display: table-caption;*/
/*}*/

.dorama-foto1{
    width: 270px;
    height: 380px;

}